<html>
<head>
<--! <head title ="Signup Form"> -->
<title>
Signup Form
</title>
</head>
<link rel="stylesheet" href="css/materialize.min.css">
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/materialize.min.js"></script>

<body>
<div class="container" style="margin-top:5%">
<div class="row">
<div class="col s12">
<div class="card blue darken-4 z-depth-0">
<div class="card-content white-text">
<div class="row">
<div class="center">
<p><h5>Sign Up<h5></p>
</div>
</div>
<div class="row">
<form class="col s12">
<div class="row">
<div class="input-field col s12 l6">
<i class="large prefix mdi-action-account-circle"></i>
<input type="text" id="fn" class="validate">
<label for="fn">First Name</label>
</div>
<div class="input-field col s12 l6">
<i class="large prefix mdi-action-account-circle"></i>
<input type="text" id="ln" class="validate">
<label for="ln">Last Name</label>
</div>
</div>
<div class="row">
<div class="input-field col s12 l12">
<i class="large prefix mdi-communication-email"></i>
<input type="text" id="email" class="validate">
<label for="email">Email</label>
</div>
</div>
<div class="row">
<div class="input-field col s12 l12">
<i class="large prefix mdi-communication-vpn-key"></i>
<input type="password" id="pwd" class="validate">
<label for="pwd">Password</label>
</div>
</div>
<div class="row">
<div class="input-field col s12 l12">
<i class="large prefix mdi-social-cake"></i>
<input type="date" class="datepicker" id="bday">
</div>
</div>
<script>
$('.datepicker').pickadate({
selectMonths: true,
selectYears: 15
});
</script>
<div class="row">
<div class="input-field col s12 l6">
<i class="large prefix mdi-social-group"></i>
<input type="radio" name="sex" id="male">
<label for="male">Male</label>
</div>
<div class="input-field col s12 l6">
<i class="large prefix mdi-social-group"></i>
<input type="radio" name="sex" id="female">
<label for="female">Female</label>
</div>
</div>

</div>

<button class="btn wave-effect wave-light red lighten-1" type="submit">Submit
<i class="mdi-content-send right"></i>
</button>
</form>
</div>
</div>
</div>
</div>
</div>


</body>

</html>
